<mat-toolbar color="primary" class="pr-4 sticky-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>QMiner</span>
    <span>len: {{shoppingCartItems.length}}</span>
    <span class="example-spacer"></span>
    <a mat-button [matMenuTriggerFor]="shoppingCartMenu" mat-icon-button class="example-icon favorite-icon">
        <mat-icon [matBadge]="shoppingCartItems.length || 0" matBadgeColor="warn">shopping_cart</mat-icon>
        <span class="ml-2" style="font-size:1em">Cart</span>
    </a>
    <mat-menu #shoppingCartMenu="matMenu">
        <button *ngIf="shoppingCartItems.length == 0" mat-menu-item style="outline: none">Cart in empty</button>
        <button *ngFor="let item of shoppingCartItems; let i = index" mat-menu-item style="outline: none">
            <span class="mr-2">2x</span>
            <span>{{item.name}}</span>
        </button>

        <!-- <button *ngIf="shoppingCartItems.length" mat-raised-button color="warn" -->
        <button mat-raised-button color="warn"
            style="outline: none; width:80%; margin: 0 auto; display: block;">Checkout</button>
    </mat-menu>
</mat-toolbar>