.example-spacer {
    flex: 1 1 auto;
}

.no-border:focus {
    outline: none;
    border: 0;
}

.example-icon:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sticky-toolbar {
    position: fixed;
    z-index: 5;
}