<form>

    <div class="row my-2">


        <div *ngFor="let item of items; let i = index" class="col-sm-6 col-md-4 mt-4">
            <mat-card class="example-card parent">
                <mat-card-header>
                    <mat-card-title>{{item.data.name}}</mat-card-title>

                </mat-card-header>

                <div class="child mt-1"> <img mat-card-image [src]="item.data.img" alt="Photo of a Shiba Inu">
                </div>

                <mat-card-content>
                    <h2>{{item.data.price}}<span>$</span></h2>
                    <h2>{{item.data.calories}}<span>cal</span></h2>

                </mat-card-content>
                <mat-card-actions>

                    <div class="row">
                        <ng-container *ngIf="item.data.types.length">
                            <div class="col-md-7">
                                <mat-form-field appearance="fill">
                                    <mat-label>Type</mat-label>
                                    <mat-select [(ngModel)]="item.selectedValue" name="food">
                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-md-5">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.data.customize">
                            <div class="col-md-6">
                                <button mat-raised-button>Customize</button>
                            </div>

                            <div class="col-md-6">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf=" !item.data.types.length && !item.data.customize">
                            <div class="col-md-12">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>



                    </div>




                    <div class="alert alert-warning">
                        <span *ngIf="item.data.p">p: {{item.data.p}}<br></span>
                        <span *ngIf="item.data.hourOfDay">hourOfDay: {{item.data.hourOfDay}}<br></span>
                        <span *ngIf="item.data.zipCode">zipCode: {{item.data.zipCode}}<br></span>
                        <span *ngIf="item.data.location">location: {{item.data.location}}<br></span>
                        <span *ngIf="item.data.flyById">flyById: {{item.data.flyById}}<br></span>
                        <span *ngIf="item.data.flightDelayRisk">flightDelayRisk:
                            {{item.data.flightDelayRisk}}<br></span>
                    </div>



                </mat-card-actions>
            </mat-card>
        </div>

    </div>


</form>