<form>

    <div class="row my-2">


        <div *ngFor="let item of items; let i = index" class="col-sm-6 col-md-4 mt-4">
            <mat-card class="example-card parent">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{item.data.name}}</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>

                <div class="child"> <img mat-card-image [src]="item.data.img" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-content>


                </mat-card-content>
                <mat-card-actions>

                    <div class="row">
                        <ng-container *ngIf="item.data.types.length">
                            <div class="col-md-7">
                                <mat-form-field appearance="fill">
                                    <mat-label>Type</mat-label>
                                    <mat-select [(ngModel)]="item.selectedValue" name="food">
                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-md-5">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.data.customize">
                            <div class="col-md-6">
                                <button mat-raised-button>Customize</button>
                            </div>

                            <div class="col-md-6">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf=" !item.data.types.length && !item.data.customize">
                            <div class="col-md-12">
                                <button mat-raised-button color="warn">Add Item</button>
                            </div>
                        </ng-container>



                    </div>








                </mat-card-actions>
            </mat-card>
        </div>

    </div>


</form>